
<h2><%= @article.title %></h2>

<article>
<% @article.content.split(" ").each do |word| %>
  <% if result = Word.find_by(name:word.downcase) %>
    <% if result.known %>
      <span class="word known-word" data-wordid="<%= result.id %>"><%= word %></span>
    <% else %>
      <span class="word study-word" data-wordid="<%= result.id %>"><%= word %></span>
      <div class="translation"><%= result.translation %></div>
    <%end%>
  <% else %>
    <span class="word new-word"><%= word %></span>
  <%end%>
<%end%>
</article>

<div class="footer">
  New Words: <span id="new-words-count">1</span> •
  Known Words: <span id="known-words-count">0</span> •
  My Study Words: <span id="study-words-count">1</span> •
</div>
