
<<<<<<< 3f5b273ad566c37e4289e06d58f079d1b8605f1c
<div class="article-container">

<<<<<<< HEAD
<h2 class="art-header"><%= @article.title %></h2>

<!--
<% words = {} %>
<% @article.content.split(/\W+/).each do |word| %>
=======
<% new_words = 0 %>
<% known_words = 0 %>
<% study_words = 0 %>

<article>
<% @article.content.split(" ").each do |word| %>
>>>>>>> step-three
  <% if result = Word.find_by(name:word.downcase) %>
    <% if result.known %>
      <% words[result.name] = result.id %>
=======
<section class="container article-show">
  <div class="row text-center">
    <h1 class="art-header"><%= @article.title %></h1>
  </div>
  <!--
  <% words = {} %>
  <% @article.content.split(/\W+/).each do |word| %>
    <% if result = Word.find_by(name:word.downcase) %>
      <% if result.known %>
        <% words[result.name] = result.id %>
      <%end%>
>>>>>>> articles show-style, menu header-style, add links-header
    <%end%>
  <%end%>
   <%= words %>
   -->

  <div class="row text-center">
    <article class="art-body">
    <% @article.content.split(/\b/).each do |word| %>
      <% if word.match(/\W/) %>
        <span><%=word%></span>
      <% elsif result = Word.find_by(name:word.downcase) %>
        <% if result.known %>
          <span class="word known-word" data-wordid="<%= result.id %>" data-translation="<%= result.translation %>" ><%= word %></span>
        <% else %>
          <span class="word study-word" data-wordid="<%= result.id %>"><%= word %></span>
          <div class="translation"><%= result.translation %></div>
        <%end%>
      <% else %>
        <span class="word new-word"><%= word %></span>
      <%end%>
    <%end%>
<<<<<<< 3f5b273ad566c37e4289e06d58f079d1b8605f1c
  <% else %>
<<<<<<< HEAD
    <span class="word new-word"><%= word %></span>
=======
    <span><%= word %></span>
    <% new_words += 1 %>
>>>>>>> step-three
  <%end%>
<%end%>
</article>

<div class="art-footer">
  New Words: <span id="new-words-count">1</span> •
  Known Words: <span id="known-words-count">0</span> •
  My Study Words: <span id="study-words-count">1</span> •
</div>

</div>
=======
    </article>

    <div class="art-footer">
      New Words: <span id="new-words-count">1</span> •
      Known Words: <span id="known-words-count">0</span> •
      My Study Words: <span id="study-words-count">1</span> •
    </div>
  </div>
</section>
>>>>>>> articles show-style, menu header-style, add links-header

<!-- <script>
$(".study-word").bind("click", toggleStudyKnownWord);

</script> -->
